/* Topbar.css */
.topbar {
  height: 80px; /* Altezza della topbar in modalità desktop */
  background-color: #ffffff;
  max-width: 1170px;
  margin: 0 auto;
}

.topbar-link {
  text-decoration: none;
  color: #333;
}

.menu-icon {
  display: none;
}

/* Media query per schermi con larghezza massima di 992px (quando passa a mobile) */
@media (max-width: 768px) {
  .topbar {
    height: 52px; /* Altezza della topbar in modalità mobile */
    padding: 0px 0px 0px 0px;
  }

  .logo-img {
    margin-left: 7px;
    width: 20vw;
    justify-content: center;
  }
  .topbar-right {
    max-height: 52px;
    padding: 0%;
  }
  .striped-background i {
    font-size: 0;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-label {
    display: none;
  }
  .login {
    display: none;
  }
}

@media (max-width: 1199px) {
  .topbar {
    max-width: 956px;
  }
}

@media (max-width: 991px) {
  .topbar {
    max-width: 736px;
  }
}


/* Stile per la colonna sinistra contenente il logo */
.topbar-logo {
  max-height: 80px;
  display: flex;
  justify-content: flex-start;
}

/* Stile per il logo */
.logo-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  padding: 0.9% 0px;

}

/* Stile per la colonna destra contenente le icone e lo sfondo a strisce */
.topbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.highCarbon {
    background-image: url('../images/bkg-line_low.png');
  }

  &.mediumCarbon {
    background-image: url('../images/bkg-line_low.png');
  }

  &.lowCarbon {
    background-image: url('../images/bkg-line.png');
  }
}

/* Stile per le icone */
.striped-background i {
  font-style: normal;
  font-size: 11px;
  font-family: "Titillium Web", Arial, sans-serif;
  color: #333;
}


/* MenuBar */
.custom-row {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 24px;
  margin: 0 auto;

  &.highCarbon {
    filter: grayscale(100%);
  }
}

@media (max-width: 1199px) {
  .custom-row {
    width: 956px;
  }
}

@media (max-width: 991px) {
  .custom-row {
    width: 736px;
  }
}

@media (max-width: 768px) {
  .custom-row {
    display: none;
  }
}

.custom-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 203, -0);
  color: black;
  cursor: pointer;
  border-right: 3px solid white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "Titillium Web", serif;
}

.custom-column:last-child {
  border-right: none;
}

.custom-column:hover {
  background-color: black;
  color: white;
}

/* Footbar */
.footbar {
  max-width: 1170px;
  height: 216px;
  margin: 50px auto 0 auto;
}

.left {
  border-right: 3px solid white;
  background-color: rgb(240, 203, -0);
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 11px;
  text-align: left;
  font-weight: 600;
  font-family: "Titillium Web", serif;

  &.highCarbon {
    filter: grayscale(100%);
  }
}

.left a {
  color: #333;
}

.right {
  background-color: rgb(89, 87, 86);
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  font-size: 11px;
  color: white;
  font-family: "Titillium Web", serif;
}

.footbar-mobile {
  margin: 50px auto 0 auto;
  display: none;
}

.first {
  background-color: rgb(89, 87, 86);
  color: white;
  padding-left: 40px;
  text-align: left;
  font-family: "Titillium Web", serif;
}

.second {
  background-color: rgb(240, 203, -0);
  text-align: left;
  padding-left: 30px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Titillium Web", serif;
}

.second a {
  color: #333;
}

@media (max-width: 1199px) {
  .footbar {
    max-width: 956px;
  }
}

@media (max-width: 991px) {
  .footbar {
    max-width: 736px;
    height: 362px;
  }
  .left {
    height: 362px;
  }
  .right {
    height: 362px;
  }
}

@media (max-width: 768px) {
  .footbar {
    display: none;
  }
  .footbar-mobile {
    display: block;
  }
}


/* Slideshow */
.carosello {
  width: 1170px;
  height: 612px;
  margin: 50px auto;

  &.highCarbon {
    filter: grayscale(100%);
  }
}

@media (max-width: 1199px) {
  .carosello {
    width: 956px;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .carosello {
    width: 736px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .carosello {
    width: 100%;
    height: 100%;
  }
}

/* PortletContent */
.portlet-content {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .portlet-content {
    max-width: 956px;
  }
  .col1 {
    max-width: 460px;
  }
  .col2 {
    max-width: 460px;
  }
}

@media (max-width: 991px) {
  .portlet-content {
    max-width: 736px;
  }
  .col1 {
    max-width: 350px;
  }
  .col2 {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .portlet-content {
    max-width: 95%;
  }
  .col1 {
    max-width: 95%;
  }
  .col2 {
    max-width: 95%;
  }
  .portlet-content h2 {
    font-size: 20%;
  }
}

.portlet-content h2 {
  text-align: left;
  font-family: "Titillium Web",serif;
  font-weight: 600;
  font-size: 20px;
}

.portlet-content p {
  text-align: left;
  font-size: 14px;
  font-family: "Titillium Web",serif;
}

.portlet-content img {
  display: flex;
  align-items: center;
  font-family: "Titillium Web",serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.line {
  background-color: rgb(240, 203, -0);
  height: 2px;
  margin: 2px auto;

  &.highCarbon {
    filter: grayscale(100%);
  }
}

.content {
  padding-top: 20px;
}

.col1 {
  max-height: 400px;
}

.col2 {
  max-height: 400px;
}


/* CarbonButton */
.carbon-button {
  position: fixed;
  bottom: 5%;
  left: 2%;
  height: 50px;
  width: 50px;
  background-color: rgb(240, 203, -0);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.carbon-button:hover {
  color: white;
}

.menu {
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 115px;
  background-color: rgb(240, 203, -0);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}

.menu p {
  font-size: 9px;
  font-weight: bold;
}

.close {
  margin: -15px 100px 5px -10px
}

.menu-close {
  background-color: transparent;
  border: none;
}

.menu-close:hover {
  color: white;
}

.menu-item {
  cursor: pointer;
  padding: 5px 10px;
  font-family: "Titillium Web",serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.menu-item:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.menu-item-live {
  cursor: pointer;
  padding: 5px 10px;
  font-family: "Titillium Web",serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #00c11d;
}

.menu-item-live:hover {
  background-color: black;
  border-radius: 10px;
}


